<template>
    <div class="row">
        <div class="col-7">
            <h2-area v-bind:h2s="h2s"></h2-area>
        </div>

        <div class="col-5">
            <ul class="list-group" v-for="h1 in h1s" :key="h1.id">
                <li
                    class="list-group-item d-flex justify-content-between align-items-center"
                >
                    <h1 style="font-size:19px">
                        {{ h1.content }}
                    </h1>

                    <button
                        type="button"
                        class="btn btn-secondary my-3"
                        @click="getH2(h1.id)"
                    >
                        View
                    </button>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            h1s: {},
            h2s: {},
            text: {}
        };
    },

    methods: {
        getH2(id) {
            axios
                .get("http://laravel-tutorial.local/api/h2/" + id)
                .then(response => (this.h2s = response.data))
                .catch(error => console.log(error));
        }
    },

    created() {
        axios
            .get("http://laravel-tutorial.local/api/h1")
            .then(response => (this.h1s = response.data))
            .catch(error => console.log(error));

        axios
            .get("http://laravel-tutorial.local/api/h2/" + 1)
            .then(response => (this.h2s = response.data))
            .catch(error => console.log(error));

        axios
            .get("http://laravel-tutorial.local/api/text/" + 2)
            .then(response => (this.h2s = response.data))
            .catch(error => console.log(error));
    },

    mounted() {
        console.log("Component mounted.");
    }
};
</script>
