<template>
    <div>
        <ul class="list-group list-group-flush" v-for="h2 in h2s" :key="h2.id">
            <li class="list-group-item">
                <h2 style="font-size:19px">
                    {{ h2.content }}
                </h2>
                <button
                    type="button"
                    class="btn btn-link"
                    @click="getText(h2.id)"
                >
                    Link
                </button>
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    data() {
        return {
            texts: {}
        };
    },

    props: ["h2s"],

    methods: {
        getText(id) {
            axios
                .get("http://laravel-tutorial.local/api/h2/" + id)
                .then(response => (this.texts = response.data))
                .catch(error => console.log(error));
        }
    }
};
</script>
