<template>
    <div class="container">
        <div class="jumbotron">
            <h1>Laravel tutorial</h1>
            <h2 class="display-4">The PHP Framework for Web Artisans</h2>
            <p>
                <strong>Laravel</strong> is a web application framework with
                expressive, elegant syntax. We’ve already laid the foundation —
                freeing you to create without sweating the small things.
            </p>
            <hr class="my-4" />
        </div>

        <div class="jumbotron jumbotron-fluid" style="border-radius:10px">
            <div class="container">
                <h2 class="display-4">Installation</h2>
                <h3 class="display-7">Server Requirements</h3>
                <p>
                    The <strong>Laravel</strong> framework has a few system
                    requirements. All of these requirements are satisfied by the
                    Laravel Homestead virtual machine, so it's highly
                    recommended that you use Homestead as your local Laravel
                    development environment. However, if you are not using
                    Homestead, you will need to make sure your server meets the
                    following requirements:
                        <ul class="list-group">
                            <li class="list-group-item">PHP >= 7.2.5</li>
                            <li class="list-group-item">BCMath PHP Extension</li>
                            <li class="list-group-item">Ctype PHP Extension</li>
                            <li class="list-group-item">Fileinfo PHP extension</li>
                            <li class="list-group-item">Mbstring</li>
                            <li class="list-group-item">OpenSSL PHP extension</li>
                            <li class="list-group-item">PDO PHP Extension</li>
                            <li class="list-group-item">Tokenizer PHP Extension</li>
                            <li class="list-group-item">XML PHP Extension</li>
                        </ul>
                </p>

                <h3 class="display-7">Installing Laravel</h3>
                <p>
                    <strong>Laravel</strong> utilizes
                    <strong>Composer</strong> to manage its dependencies. So,
                    before using Laravel, make sure you have Composer installed
                    on your machine.
                </p>

                <h5 class="display-7">Via Laravel Installer</h5>

                <p>First, download the Laravel installer using Composer:</p>
                <ul class="list-group">
                    <li class="list-group-item">
                        composer global require laravel/installer
                    </li>
                </ul>
                <p>
                    Make sure to place <strong>composer</strong>'s system-wide
                    vendor bin directory in your $PATH so the laravel executable
                    can be located by your system. This directory exists in
                    different locations based on your operating system; however,
                    some common locations include:
                </p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    mounted() {
        console.log("Component mounted.");
    }
};
</script>
