<template>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h6 class="display-4">Content</h6>
            <p class="lead" v-for="text in texts" :key="text.id">
                {{ text.content }}
            </p>
        </div>
    </div>
</template>

<script>
export default {
    props: ["texts"]
};
</script>
