<template>
    <div class="row">
        <div class="col-4">
            <ul class="list-group" v-for="h1 in h1s" :key="h1.id">
                <li
                    class="list-group-item d-flex justify-content-between align-items-center"
                >
                    <h1 style="font-size:19px">
                        {{ h1.content }}
                    </h1>
                </li>
            </ul>

            <hr />

            <ul
                class="list-group list-group-flush"
                v-for="h2 in h2s"
                :key="h2.id"
            >
                <li class="list-group-item">
                    <h2 style="font-size:19px">* {{ h2.content }}</h2>
                    <button
                        type="button"
                        class="btn btn-link"
                        @click="getText(h2.id)"
                    >
                        View
                    </button>
                </li>
            </ul>
        </div>

        <div class="col-8"><text-area v-bind:texts="texts"></text-area></div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            h1s: {},
            h2s: {},
            texts: {}
        };
    },

    methods: {
        getText(id) {
            axios
                .get("http://laravel-tutorial.local/api/text/" + id)
                .then(response => (this.texts = response.data))
                .catch(error => console.log(error));
        },

        getAllText() {
            axios
                .get("http://laravel-tutorial.local/api/text")
                .then(response => (this.texts = response.data))
                .catch(error => console.log(error));
        }
    },

    created() {
        axios
            .get("http://laravel-tutorial.local/api/h1")
            .then(response => (this.h1s = response.data))
            .catch(error => console.log(error));

        axios
            .get("http://laravel-tutorial.local/api/h2/" + 1)
            .then(response => (this.h2s = response.data))
            .catch(error => console.log(error));
    },

    mounted() {
        console.log("Component mounted.");
    }
};
</script>
